header{
    width: 99vw;
    height: 100px;
    background-color: aquamarine;
}


nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav .name li{
    align-items: center;
    font-size: 1.3rem;
    color: rgba(35, 34, 34, 0.756);
    margin-top: 40px;
    font-weight: 800;
}

.logo{
    width: 90px;
    margin-top: -40px;
}

.l{
    width: 90px;
    margin-top: -40px;
}

.l:hover{
    scale: 1.2;
    transition: 2s;
    cursor: pointer;
}

.logo:hover{
    scale: 1.2;
    transition: 2s;
    cursor: pointer;
}

nav .name li:hover{
    scale: 1.2;
    color: black;
    cursor: pointer;
}

.name {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 45vw;
    margin-left: 0px;
}

.n2{
    width: 45vw;
}

.n2 li{
    font-size: 1.1rem;
    color: rgba(35, 34, 34, 0.756);
    font-weight: 800;
    margin-top: 40px;
}

.n2 li:hover{
    scale: 1.2;
    color: black;
    cursor: pointer;
}

.li{
    display: flex;
    justify-content: space-around;
}
.llogo{
    width: 40px;
    margin-top: -8px;
}

.b1{
    border-radius: 150px;
    height: 25vh;
    width: 15vw;
    margin-top: -15px;
    color: white;
    background-color: rgba(137, 43, 226, 0.807);
    font-weight: 600;
    margin-left: 200px;
    animation: bounce  4s infinite;
}

@keyframes bounce{
    10%{
        height: 25vh;
        width: 15vw;
    }
    30%{
        height: 25vh;
        width: 15vw;
    }
    50%{
        height:20vh;
        width: 15vw;
        transform: translateY(190px);
    }
}

.b2{
    border-radius: 150px;
    height: 25vh;
    width: 15vw;
    margin-top: -15px;
    color: white;
    background-color: rgba(137, 43, 226, 0.807);
    font-weight: 600; 
    margin-left: 0px;
    margin-right: 450px;
    animation: bouncee  5s infinite;
}



@keyframes bouncee{
    10%{
        height: 25vh;
        width: 15vw;
    }
    30%{
        height: 25vh;
        width: 15vw;
    }
    50%{
        height:20vh;
        width: 15vw;
        transform: translateY(50px);
        transform: translatey(-180px);
    }
}
.mde{
    margin-top: 15px;
    display: grid;
}

.b1:hover,.b2:hover{
    scale: 1.2;
    transition: 1s;
    cursor: pointer;
    
}
a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}
.p1,.p2{
    display: flex;
    justify-content: space-around;
}








.i{
    font-size: 1.3rem;
    font-weight: 500;
}



footer{
    background-color: black;
    color: white;
    height: auto;
}

.div3{
    display: flex;
    justify-content: space-evenly;
}

.sa:hover{
    scale: 1.1;
    color: rgba(211, 18, 18, 0.686);
    cursor: pointer;
}

.flex{
    display: flex;
    justify-content: space-around;
    width: 75vw;
}

.flex ul{
    list-style: none;
}

.flex ul li:hover{
    scale: 1.1;
    color: rgba(211, 18, 18, 0.686);
    cursor: pointer;
}